<link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">
<nav class="navbar bg-light">

  <div class="col-sm-2">
    <a class="navbar-brand" href="#">
      <img src="assets/Marcus.png" alt="" width="50" height="" class="d-inline-block align-text-top" id="foto">
    </a>
  </div>

  <div class="col-sm-1">
        <div>
            <button type="button" class="btn btn-inline-dark">Dark</button>
        </div> 
  </div>   
</nav>
<body>
    <div class="container">
        <!-- Primeiro box container -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Card One</h2>
                <img src="assets/Marcus.png">
                <a href="#">Leia Mais</a>
            </div>
        </div>
        <!-- Segundo box container -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Card Two</h2>
                <img src="assets/Marcus.png">
                <a href="#">Leia Mais</a>
            </div>
        </div>
        <!-- Terceiro box container -->
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Card Three</h2>
                <img src="assets/Marcus.png"><p>
                </p>
                <a href="#">Leia Mais</a>
            </div>
        </div>
    </div>
</body>